.container__small-card-content {
  flex-direction: row;
  display: flex;

}

.container__small-card {

  align-items: center;
  margin: 0 15px 15px 0px;
  width:700px;
  margin-bottom: 15px;


}

.small-card__photo > img {
  width: 200px;
  height: 170px;
  min-width: 200px;
  margin-right: 20px;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;

}

.container__small-card_row {
  margin-top: 10px;
}
