<div class="container__small-card">
  <div class="container__small-card-content">

    <div class="small-card__photo">
      <img
        src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
        alt=""
        srcset=""
        width=""
        height="200px"
      >
    </div>

    <div class="small-card-title">
      <h1><a href="#"> Saiu a nova versao angular</a></h1>
    </div>
  </div>

  <div class="container__small-card_row">
    <hr>
  </div>
</div>

